{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/vue.global.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'histogram_file_manager/js/histogram_file_manager.js' %}"></script>
<script src="{% static 'histogram_file_manager/js/components/file_table.js' %}"></script>
<script src="{% static 'histogram_file_manager/js/components/file_actions.js' %}"></script>
<script src="{% static 'histogram_file_manager/js/components/table_pagination.js' %}"></script>
<script src="{% static 'histogram_file_manager/js/components/errors.js' %}"></script>

<link rel="stylesheet" href="{% static 'histogram_file_manager/css/file_actions.css' %}">
<link rel="stylesheet" href="{% static 'histogram_file_manager/css/histogram_file_manager.css' %}">
{% endblock %}

{% block title %}
Histogram File Manager
{% endblock %}

{% block content %}
<div class="container-fluid">
	<h1 class="my-3" align="center">Histogram File Manager</h1>
	<h2>Available Histogram Files</h2>

	<!-- Filter form, rendered by django -->
	<p>
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filters-collapse" aria-expanded="false" aria-controls="filters-collapse">
			Filters
		</button>
	</p>
	<div class="card border-light shadow p-3 bg-white rounded mb-4 collapse" id="filters-collapse">
		<form id="file_filter_form" method="get" action="">
			<div class="form-group">
				{{ filter.form }}
			</div>
			<button type="submit" class="btn btn-primary mt-3">Apply filters</button>
		</form>
	</div>

	<!-- Vue js app -->
	<div id="app" >
		<file-table
			:files_information="files_information"
								@file-actions-clicked="show_file_actions_modal"
								:class="{dimmed: waiting_for_data}"
		>
		</file-table>
		<table-pagination
			:page_next="page_next"
						:page_previous="page_previous"
						:total_pages="total_pages"
						@clicked-previous="fetch_previous_result_page"
						@clicked-next="fetch_next_result_page"
						:class="{dimmed: waiting_for_data}"
		></table-pagination>
		<file-actions
			:file_information="file_information"
			:is_visible="file_actions_is_visible"
			:file_id="Number(file_information.id)"
			:field_choices="{{field_choices}}"
			@clicked-close="hide_file_actions_modal"
		>
		</file-actions>
	</div>

	</ul>	
</div>
{% endblock %}

{% block scripts %}
<script>
 const mountedApp = app.mount('#app');

 // On page load
 // window.addEventListener('load', (event) => {
 // });
 
</script>

{% endblock %}
