{% extends 'base.html' %}

{% load static %}

{% block title %} Task {{ object.id }} {% endblock title %}

{% block content %}

<div class="container-fluid">
	<h2> {% if object.name %} {{ object.name }} {% else %} Task {{ object.id }} {% endif %}</h2>
	<form method="" id="form_trigger_pipeline">
		{% csrf_token %}
		<div class="row">
			<button class="btn btn-block btn-primary">Run Pipeline</button>
		</div>
	</form>
</div>

{% endblock %}

{% block scripts %}
<script>
 function getCookie(name) {
     let cookieValue = null;
     if (document.cookie && document.cookie !== '') {
         const cookies = document.cookie.split(';');
         for (let i = 0; i < cookies.length; i++) {
             const cookie = cookies[i].trim();
             // Does this cookie string begin with the name we want?
             if (cookie.substring(0, name.length + 1) === (name + '=')) {
                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                 break;
             }
         }
     }
     return cookieValue;
 }

 window.addEventListener("load", function () {
	 var form = document.getElementById("form_trigger_pipeline");

	 // Prevent 
	 form.addEventListener("submit", (e) => {
		 e.preventDefault();
		 var req = new XMLHttpRequest();
		 req.addEventListener("load", function() {
			 // console.log(this.responseText);
			 alert(this.responseText);
		 });
		 req.open("POST","");
		 req.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
		 req.send();
	 });
 });
</script>
{% endblock %}


