{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %} Login {% endblock title %}
{% block style %}
<style>
	.div-sign-in {
		max-width: 300px;
	}

	.alert-signed-in {
		max-width: 500px;
	}

	.btn-cern {
		background-color: #0033a0;
		color: white;
		border-color: #0033a0;
	}

	.btn-cern:hover,
	.btn-cern:active,
	.btn-cern:focus {
		background-color: #0033a0;
		border-color: #0033a0;
	}

	.link-bland {
		color: #000000;
		text-decoration: none;
	}

	.link-bland:hover {
		color: #0033a0;
	}

	.form-signin input[type="username"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">
	{% if user.is_authenticated %}
	<div class="alert-signed-in alert alert-primary col-4 mx-auto" role="alert">
		<h3><i class="bi bi-emoji-smile mr-3"></i> You are already logged in, {% if user.first_name %}{{ user.first_name
			}}{% else %}{{user.username}}{% endif %}.</h3>
		Click on any button above to continue.
	</div>
	{% else %}

	<div class="div-sign-in d-grid gap-2 col-lg-4 col-md-6 col-sm-8 col-xs-12 mx-auto">
		<h4>Log in</h4>
		<form method="POST" class="form-signin">
			{% csrf_token %}

			{% if form.non_field_errors %}
			<div class="alert alert-danger container-fluid">
				{% for error in form.non_field_errors %}
				<strong>{{ error|escape }}</strong>
				{% endfor %}
			</div>
			{% endif %}

			<!--{{ form.as_p }}-->

			<div class="form-floating mt-1">
				<input type="username" name="username" autofocus autocapitalize="none" autocomplete="username" required
					class="form-control" id="{{ form.username.id_for_label }}" placeholder="username">
				<label for="{{ form.username.id_for_label }}">Username</label>
			</div>
			<div class="form-floating mb-3">
				<input type="password" name="password" autocomplete="current-password" required class="form-control"
					id="{{ form.password.id_for_label }}" placeholder="password">
				<label for="{{ form.password.id_for_label }}">Password</label>
			</div>

			<div class="d-grid gap-2">
				<button class="btn btn-primary" type="submit" name="submit">Log in</button>
			</div>
		</form>

		<hr>

		<form action="{% provider_login_url 'cern' %}" method="post">
			{% csrf_token %}
			<div class="d-grid">
				<button class="btn btn-primary btn-cern" type="submit">
					<div class="d-flex gap-2">
						<img class="cern-svg" src="{% static 'img/LogoOutline-White.svg' %}" alt="CERN logo"
							style="height:3em;" />
						<div class="align-self-center">
							<h6>Log in with CERN</h6>
						</div>
					</div>
				</button>
			</div>
		</form>

	</div>

	{% endif %}
</div>

{% endblock content %}