Django
django-bootstrap3
django-filter
django-tables2
#djangorestframework
-e ./django-rest-framework
django-extensions
django-widget-tweaks
daphne
python-decouple
psycopg2-binary
django-tables2
whitenoise
altair
jupyter
pandas
numpy
pyyaml
uritemplate
django-debug-toolbar
