Django<5.0.0
django-bootstrap3
django-filter
django-tables2
djangorestframework
django-extensions
django-widget-tweaks
daphne
python-decouple
psycopg2-binary
django-tables2
whitenoise
altair
jupyter
pandas
numpy
pyyaml
uritemplate
django-debug-toolbar
flake8
django-allauth
