.storage_eos {
    border-radius: 25px;
    width: 64px;
    text-align: center;
    background-color: #4ca0af;
    color: white;
}

.storage_postgres {
    border-radius: 25px;
    width: 64px;
    text-align: center;
    background-color: #4a77b9;
    color: white;
}

.storage_external {
    border-radius: 25px;
    width: 94px;
    text-align: center;
    background-color: rgb(255, 177, 32);
    color: white;
}
