.img {
    width: 100% !important;
    height: 185px !important;
}

a:hover {
    text-decoration: none;
}

h5 {
    color: white;
}

p {
    color: white;
}

.container-img-front-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.img-front-page {
  horizontal-align: center;
}
