.img {
    width: 100% !important;
    height: 185px !important;
}

a:hover {
    text-decoration: none;
}

h5 {
    color: white;
}

p {
    color: white;
}

.img-front-page {
  margin-left: 20px;
  margin-top: 20px;
  margin-right:20px;
  padding-left: 20px;
  padding-right: 20px;
}
