DJANGO_ENV=dev
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000 http://localhost:3000 http://localhost:8081
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:8000 http://localhost:3000 http://localhost:8081
DJANGO_DEFAULT_WORKSPACE=tracker
DJANGO_KEYCLOAK_SERVER_URL=https://auth.cern.ch/auth/
DJANGO_KEYCLOAK_REALM=cern
DJANGO_CACHE_TTL=0
DJANGO_ENABLE_SQL_LOGS=1
DJANGO_SECRET_KEY=potato
DJANGO_REDIS_URL=redis://redis-local:6379/3
DJANGO_DATABASE_URI=postgres://postgres:postgres@postgresql-local:5432
DJANGO_KEYCLOAK_CONFIDENTIAL_CLIENT_ID=cms-dials-dev-confidential-app
DJANGO_OMS_SSO_CLIENT_ID=cms-dials-dev-api-client-omsapi

# Update here, if you want less/more workspaces
DJANGO_WORKSPACES={"csc": "cms-dqm-runregistry-offline-csc-certifiers", "ecal": "cms-dqm-runregistry-offline-ecal-certifiers", "egamma": "cms-dqm-runregistry-offline-ecal-certifiers", "hcal": "cms-dqm-runregistry-offline-hcal-certifiers", "jetmet": "cms-dqm-runregistry-offline-jme-certifiers", "muon_staging": "unknown", "tracker": "cms-dqm-runregistry-offline-tracker-certifiers"}

# Update here if you want a different default workspace
DJANGO_DEFAULT_WORKSPACE=tracker

# Update here the secrets from applications portal
DJANGO_KEYCLOAK_CONFIDENTIAL_SECRET_KEY=
DJANGO_KEYCLOAK_API_CLIENTS={"....": "cms-dials-dev-api-client-test"}
DJANGO_OMS_SSO_CLIENT_SECRET=

# Update here your lxplus credentials
DJANGO_KEYTAB_USR=
DJANGO_KEYTAB_PWD=
