{% extends 'base.html' %}

{% block title %} Lumisections {% endblock title %}

{% block content %}
  <div class='container-fluid'>

  <div>
    {% if error_message %}
      <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{ error_message }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </div>

  </div>

  <div class='container-fluid'>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Run number</th>
          <th scope="col">Lumisection number</th>
          <th scope="col">OMS info</th>
          <th scope="col">1D Histograms</th>
          <th scope="col">2D Histograms</th>
          <th scope="col">RR certification info</th>
        </tr>
      </thead>
      <tbody>
        {% for lumisection in lumisections %}
          <tr>
            <th scope="row">
              <a href="{% url 'data_taking_objects:run-view' run_number=lumisection.run.run_number %}">
                {{ lumisection.run.run_number }}
              </a>
            </th>
            <th>
              <a href="{% url 'data_taking_objects:lumisection-view' run_number=lumisection.run.run_number lumi_number=lumisection.ls_number%}">
                {{ lumisection.ls_number }}
              </a>
            </th>
            <td>
              <i class="bi bi-x-lg"></i>
            </td>
            <td>
              {{ lumisection.histograms_lumisectionhistogram1d_histograms.count }}
            </td>
            <td>
              {{ lumisection.histograms_lumisectionhistogram2d_histograms.count }}
            </td>
            <td>
              <i class="bi bi-check-lg"></i>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock content %}
