{% extends 'base_with_sidebar.html' %}

{% block title %} Run {{ runnr }}, lumisection {{ lumi_number }} {% endblock title %}

{% block maincontent %}

  <div>
    {% if error_message %}
      <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{ error_message }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </div>

  <div class='container-fluid'>


    <h2><a href="{% url 'visualize_histogram:redirect_run' runnr=runnr %}">Run {{ runnr }}</a>, lumisection {{ lumi_number }}</h2>
    {% if n_hist1d != 0 %}
    <hr>
    <h3>1D histograms</h3>
    <div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for hist in hist1d %}
        <div class="col">
          <a class="card" href="{% url 'visualize_histogram:visualize_histogram' runnr=runnr lumisection=lumi_number title=hist.title %}">
            <div class="card-img-top" id="histogram-id-{{hist.id}}" style="height: 200px;">
              <script>
                  var trace = {
                      y: {{ hist.data }},
                      type: 'bar',
                      marker: {color: '#0033A0'}
                  };
                  var data = [trace];

                  Plotly.newPlot("histogram-id-{{hist.id}}", data, 
                  {
                      margin: {t: 10, b: 10, l: 10, r: 10},
                      yaxis: {"visible": false}, 
                      xaxis: {"visible": false}, 
                      bargap: 0, 
                      paper_bgcolor: 'rgba(0,0,0,0)',
                      plot_bgcolor: 'rgba(0,0,0,0)'
                }, {staticPlot: true});
              </script>
            </div>
            <div class="card-body">
              {{ hist.title }}
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if n_hist2d != 0 %}
    <hr>
    <h3>2D histograms</h3>
    <div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for hist in hist2d %}
        <div class="col">
          <a class="card" href="{% url 'visualize_histogram:visualize_histogram' runnr=runnr lumisection=lumi_number title=hist.title %}">
            <div class="card-img-top" id="histogram-id-{{hist.id}}" style="height: 200px;">
              <script>
                  var data = [
                      {
                          z: {{ hist.data }},
                          type: 'heatmap',
                          colorscale: 'Viridis'
                      }
                  ];
  
                  Plotly.newPlot("histogram-id-{{hist.id}}", data, 
                  {
                    margin: {t: 10, b: 10, l: 10, r: 10}, 
                    yaxis: {"visible": false}, 
                    xaxis: {"visible": false}, 
                    bargap: 0, 
                    paper_bgcolor: 'rgba(0,0,0,0)',
                    plot_bgcolor: 'rgba(0,0,0,0)'
                  }, {staticPlot: true});
              </script>
            </div>
            <div class="card-body">
              {{ hist.title }}
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}


  </div>

{% endblock maincontent %}

{% block sidebar %}
  <table class="table">
    <tbody>
      <tr>
        <th scope="col">Integrated luminosity</th>
        <td>XXX</td>
      </tr>
      <tr>
        <th scope="col">Initial ZeroBias rate</th>
        <td>XXX</td>
      </tr>
    </tbody>
  </table>
{% endblock sidebar %}