{% extends 'base.html' %}


{% block title %} Run {{ run.run_number }} {% endblock title %}


{% block content %}

  <div>
    {% if error_message %}
      <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{ error_message }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </div>

  <div class='container-fluid'>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Run number</th>
          <th scope="col">Number of lumisections</th>
          <th scope="col">Integrated luminosity</th>
          <th scope="col">Initial ZeroBias rate</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th scope="row">{{ run.run_number }}</th>
            <td>XXX</td>
            <td>XXX</td>
            <td>XXX</td>
          </tr>
      </tbody>
    </table>

  </div>

{% endblock content %}


{% block navbar_bottom_tabs %}

    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropup-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          OMS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropup-item" href="https://cmsoms.cern.ch/cms/runs/report?cms_run={{run.run_number}}">Runs</a>
          <a class="dropup-item" href="https://cmsoms.cern.ch/cms/triggers/l1_rates?cms_run={{run.run_number}}">L1 rates</a>
          <a class="dropup-item" href="https://cmsoms.cern.ch/cms/triggers/hlt_trigger_rates?cms_run={{run.run_number}}">HLT rates</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          Additional information
        </a>
      </li>

    </ul>

{% endblock navbar_bottom_tabs %}
