{% extends 'base_with_sidebar.html' %}


{% block title %} Run {{ run.run_number }} {% endblock title %}


{% block maincontent %}

    <div class='container-fluid'>
      <i class="bi bi-chevron-left"></i> <a href="{% url 'visualize_histogram:visualize_histogram_dummy' %}">All runs</a>
      <h2>Run {{ runnr }} has {{ num_lumisections }} {% if num_lumisections != 1 %}lumisections{% else %}lumisection{% endif %}</h2>

      <div>
        {% if error_message %}
          <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              {{ error_message }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      </div>

      {% if lumisections %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Lumisection</th>
            <th scole="col">1D histograms</th>
            <th scole="col">2D histograms</th>
            <th scope="col">Integrated luminosity</th>
            <th scope="col">Initial ZeroBias rate</th>
          </tr>
        </thead>
        <tbody>
            {% for lumisection in lumisections %}
              <tr>
                <th>
                  <a href="{% url 'visualize_histogram:redirect_lumisection' runnr=run.run_number lumisection=lumisection.ls_number%}">
                    {{ lumisection.ls_number }}
                  </a>
                </th>
                <td>
                  {{ lumisection.histograms_lumisectionhistogram1d_histograms.count }}
                </td>
                <td>
                  {{ lumisection.histograms_lumisectionhistogram2d_histograms.count }}
                </td>
                <td>
                  ?
                </td>
                <td>
                  ?
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      {% endif %}

    </div>

{% endblock maincontent %}

{% block sidebar %}
  <h4>More from OMS</h4>
  <hr>
  <ul>
    <li><a href="https://cmsoms.cern.ch/cms/runs/report?cms_run={{run.run_number}}">Run {{run.run_number}}</a></li>
    <li><a href="https://cmsoms.cern.ch/cms/triggers/l1_rates?cms_run={{run.run_number}}">L1 rates from run {{run.run_number}}</a></li>
    <li><a href="https://cmsoms.cern.ch/cms/triggers/hlt_trigger_rates?cms_run={{run.run_number}}">HLT rates from run {{run.run_number}}</a></li>
  </ul>
{% endblock sidebar %}

{% block modal_tab %} Additional information {% endblock modal_tab %}

{% block modal_title %} Additional information - run {% endblock modal_title %}

{% block modal_content %}

...

{% endblock modal_content %}
