{% extends 'base.html' %}


{% block title %} Runs {% endblock title %}


{% block content %}

  <div>
    {% if error_message %}
      <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{ error_message }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </div>

  <div class='container-fluid'>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Run number</th>
          <th scope="col">OMS info</th>
          <th scope="col">RR OMS info</th>
          <th scope="col">Histograms</th>
          <th scope="col">RR certification info</th>
        </tr>
      </thead>
      <tbody>
        {% for run in runs %}
          <tr>
            <th scope="row"> 
              <a href="{% url 'data_taking_objects:run-view' run_number=run.run_number %}">
                {{ run.run_number }}
              </a>
            </th>
            <td>
              <span class="badge bg-warning">Not available</span>
            </td>
            <td>
              <span class="badge bg-success">Available</span>
            </td>
            <td>
              <span class="badge bg-success"> {{ run.histograms.count }} histograms available</span>
            </td>
            <td>
              <span class="badge bg-success">Available</span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock content %}


{% block navbar_bottom_tabs %}

    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="https://cmsoms.cern.ch/cms/index/index">OMS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://cmsrunregistry.web.cern.ch/offline/datasets/global">Run Registry</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Histograms</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#modalRuns" data-bs-toggle="modal" data-bs-target="#modalRuns">
          Additional information
        </a>
      </li>

    </ul>

  <div class="modal fade" id="modalRuns" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Additional information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Histograms were extracted from the ML4DQM csv files.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock navbar_bottom_tabs %}

