{% extends 'base_with_sidebar.html' %}


{% block title %} Runs {% endblock title %}


{% block maincontent %}
<h2>Jump quickly</h2>
<form action="" method="GET" class="row">
    <div class="col-6 col-lg-2">
        {{ form.runnr.errors }}
        <label for="{{ form.runnr.id_for_label }}">Run</label>
        {{ form.runnr }}
    </div>
    <div class="col-6 col-lg-2">
        {{ form.lumisection.errors }}
        <label for="{{ form.lumisection.id_for_label }}">Lumisection</label>
        {{ form.lumisection }}
    </div>
    <div class="col-12 col-lg-7">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}">Title</label>
        {{ form.title }}
    </div>
    <div class="col-12 col-lg-1">
        <br>
        <div class="d-grid">
            <button class="btn btn-primary" type="submit">Go</button>
        </div>
    </div>
</form>

      <div>
        {% if error_message %}
          <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              {{ error_message }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      </div>

      <div class='container-fluid'>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Run number</th>
              <th scope="col">OMS info</th>
              <th scope="col">RR OMS info</th>
              <th scope="col">Run level histograms</th>
              <th scope="col">RR certification info</th>
            </tr>
          </thead>
          <tbody>
            {% for run in runs %}
              <tr>
                <th scope="row"> 
                  <a href="{% url 'visualize_histogram:redirect_run' runnr=run.run_number %}">
                    {{ run.run_number }}
                  </a>
                </th>
                <td>
                  <i class="bi bi-x-lg"></i>
                </td>
                <td>
                  <i class="bi bi-check-lg"></i>
                </td>
                <td>
                  {{ run.histograms.count }}
                </td>
                <td>
                  <i class="bi bi-check-lg"></i>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
{% endblock maincontent %}

{% block sidebar %}
      <div class="alert alert-info">
        <h4>Additional information - runs</h4>
        <hr>
        <p>
          The histograms for 2018 were extracted from the ML4DQM .csv files using <a href="https://github.com/XavierAtCERN/MLplayground/blob/master/histograms/management/commands/extract_run_histograms.py">the following script</a>.
        </p>
      </div>
      <h4>Data sources</h4>
      <hr>
      <ul>
        <li><a href="https://cmsoms.cern.ch/cms/index/index">OMS</a></li>
        <li><a href="https://cmsrunregistry.web.cern.ch/offline/datasets/global">Run Registry</a></li>
        <li><a href="#">Histograms</a></li>
      </ul>
{% endblock sidebar%}

{% block navbar_bottom_tabs %}

  <li class="nav-item">
    <a class="nav-link" href="https://cmsoms.cern.ch/cms/index/index">OMS</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="https://cmsrunregistry.web.cern.ch/offline/datasets/global">Run Registry</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Histograms</a>
  </li>

{% endblock navbar_bottom_tabs %}

{% block modal_tab %} Additional information {% endblock modal_tab %}

{% block modal_title %} Additional information - runs {% endblock modal_title %}

{% block modal_content %}

The histograms for 2018 were extracted from the ML4DQM .csv files using <a href="https://github.com/XavierAtCERN/MLplayground/blob/master/histograms/management/commands/extract_run_histograms.py">the following script</a>.

{% endblock modal_content %}
