{% extends 'base.html' %}

{% block title %} Runs {% endblock title %}

{% block content %}

  <div class='container-fluid'>

  <div>
    {% if error_message %}
      <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{ error_message }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </div>

  </div>

  <div class='container-fluid'>
    {{ runs | safe }}
  </div>

{% endblock content %}
