{% extends 'base.html' %}

{% load static %}

{% block title %} Run Histograms {% endblock title %}

{% block content %}

  <div>
    {% if error_message %}
      <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{ error_message }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </div>

  <div class='container-fluid'>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Available histograms</th>
          <th scope="col">...</th>
          <th scope="col">...</th>
          <th scope="col">...</th>
        </tr>
      </thead>
      <tbody>
        {% for histogram in list_of_histograms %}
          <tr>
            <th scope="row">
              <a href="{% url 'histograms:run-histogram-time-serie-view' histogram_name=histogram.title %}"> 
                {{ histogram.title }}
              </a>
            </th>
            <td>XXX</td>
            <td>XXX</td>
            <td>XXX</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock content %}

