{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                    <img src="{% static 'home/img/home.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listdatasets:listdatasets' %}">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Model</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Result</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'histogram_file_manager:file_manager' %}">File Manager</a>
                </li>
              </ul>
        </div>
    </div>
</nav>
