{% extends 'base.html' %}

{% block title %}
List run histograms
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static "run_histos/css/list_histos.css" %}" type="text/css">
{% endblock %}

{% block content %}
    {% load render_table from django_tables2 %}
    {% load bootstrap3 %}
    <h1 class="my-3" align="center">1D Histograms for Run based data</h1>
    <div class="container">
        {% if filter %}
            {% include "run_histos/filter.html" %}
        {% else %}
            <div class="alert alert-danger" role="alert">No Filter found.</div>
        {% endif %}
    </div>

    {% if runHistos_table %}
    <!-- div class="overflow-auto scrollbar border-light shadow m-1 bg-white" id="style-1"-->
    <div class="overflow-auto px-3 bg-white" id="style-1">
        {% render_table runHistos_table 'django_tables2/bootstrap.html'%}
    </div>
    {% else %}
        <div class="alert alert-danger" role="alert">No Table found.</div>
    {% endif %}


{% endblock content %}


{% block scripts %}
    {% load static %}
    <script src="{% static "run_histos/js/filter.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#run_histos-filter-form").submit(function () {
                var form = $(this);
                // ignore_unwanted_filters(form);
                disable_empty_filter_fields(form); // simpliflies URL alot by removing unused fields
                return true; // ensure form still submits
            });
        });

        $(".ignore-other-filter-checkbox").change(function(){
                if ($(this).is(":checked")){
                    uncheck_all_ignore_other_filter_checkboxes();
                    $(this).prop("checked", true);
                }
        });

    </script>
{% endblock scripts %}
