ENV=dev
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
CELERY_REDBEAT_URL=redis://localhost:6379/2
DATABASES=csc,ecal,hcal,jetmet,tracker
DATABASES=csc,ecal,egamma,hcal,jetmet,muon_staging,tracker
DATABASE_URI=postgresql://postgres:postgres@localhost:5432

CERT_FPATH=<PATH-TO-YOUR>/usercert.pem
KEY_FPATH=<PATH-TO-YOUR>/userkey.pem
ETL_CONFIG_FPATH=<PATH-TO-YOUR>/etl.config.json
RAW_LAYERS=<PATH-TO-YOUR>/mocks/DQMIO_for_DIALS_local_dev, ...
MOCKED_DBS_FPATH=<PATH-TO-YOUR>/mocks/dbs.json
